*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body, .divdos{    
    background-color: black;
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-size: 2em;   
    /*width: fit-content;    background: linear-gradient(to right, blue, rgba(0, 0, 0, 0.815)  ) ;    -webkit-background-clip: text;    -webkit-text-fill-color: transparent;    margin-left: 4em;*/
}
.div, ul, .decimo, #uno, #uno h3, .arriba, .div1, .d1, .d3 h3, .d3 ol, p, .r3{
    text-align: center;
}
.fa-motorcycle, .uno b, .quinto i, .octavo h3, .decimo2 i, .arriba a i, .arriba a p{
    color: rgb(0, 47, 255);
}
.fa-motorcycle{
    font-size: 2.5em;
}
.fa-motorcycle, .uno{
    display: inline-block;
}
.uno b{
    font-size: 0.7em;
}
.uno, .dos h2, nav li a, .segundo h2, .octavo p, .fa-road, #uno h3, .d1 a, .d3, .d4{
    color: white;
}
.uno{
    margin-left: 0.5em ;
}
.dos{
    background: linear-gradient( rgb(0, 47, 255), Black);
    width: 100%;
}
.moto img{
    width: 15%;
}
.moto{
    margin-left: 3em;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1000;
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:45%; top:0px;}
}
.moto, h2{
    display: inline-block;
}
.dos h2{
    padding: 1em 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}
.dos span{
    color: black;
    font-size: 0.8em;
} 
nav{
    margin: 2em ;
}
nav li a, .segundo button a, .decimo2 a, .arriba a, .d1 a{
    text-decoration: none;
}
nav li a{
    border-bottom: 0.1em rgb(0, 47, 255) solid ;
}
nav li{
    display: inline-block; 
    padding: 0 3em;   
}
nav li a:hover{
    color: rgb(0, 47, 255) ;
    font-size: 2em;
    border: none;
}
.lkawa, .primero h3, .decimo1 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lbmw{
    font-family: Arial, Helvetica, sans-serif;
}
.lducati{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lyama{
    font-family: initial;
}
#sectionuno, #sectiondos, #sectiontres, #sectioncuatro, #sectioncinco{
    box-shadow: 5px 5px 10px  rgb(0, 47, 255) ;
    padding: 1em;
    margin: 2em;
    
}
.segundo, .tercero {
    display: inline-block;
}
.segundo, .noveno, .d3, .div1 p, .r2{
    vertical-align: top;
}
.segundo{
    width: 59%;
}
.tercero{
    width: 39%;
}
.segundo h3{
    font-size: 3em;
}
.kawa1{
    width: 90%;
}
.segundo h2{
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 6em;
    margin: 0.2em;
}
.segundo button, #principal2, .principall, .noveno button, footer, .d3 span{
    background-color: rgb(0, 47, 255);
}
.segundo button{
    width: 15em;
    height: 5em;
    margin: 1em 0 0 21em;    
}
.segundo button a{
    color: black;
}
.segundo button:hover{
    background-color: black;
    border: rgb(0, 47, 255) solid;
}
.segundo button a:hover{
    color: white;
    font-size: 1.3em;
}
.tercero .lbmw{
    width: 70%;
}
.tercero .lktm{
    width: 92%;
}
.tercero .lducati{
    width: 94%;
}
.tercero .lmt{
    width: 110%;
}
.quinto i{
    font-size: 2em;
    padding: 1em;
}
.quinto i:hover{
    color: white;
    background-color: rgb(0, 47, 255);
}
#principal{
    height: 470px;
    overflow: hidden;   
}
#principal2{
    margin: 2em 0;
    padding: 2em;
}
.decimo, .in1, .in2, .r1{
    background-color: white;
}
.decimo{
    margin: 1.3em;
    width: 28%;
    margin-top: 1em;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
    display: inline-block;
}
#decimoo{
    margin-left: 11em;
}
.decimo1 img, .decimo2 img,  .decimo5 img, .decimo6 img{
    padding: 2em;
    width: 55%;
}
.decimo1 p{
    font-size: 2em;
}
.decimo2 i{
    font-size: 2em;
    padding: 0.7em;
}
.divdos{
    margin: 0 2em;
}
.decimo4 img{
    width: 110%;
}
.octavo, .noveno{
    display: inline-block;
    width: 47%;
}
.noveno{
    margin-top: 2em;
}
.octavo p{
    text-align: left;
    margin-top: 0.3em;
}
.octavo{
    margin: 2em 2em;
}
.octavo h3{
    font-size: 2em;
}
.in1, .in2, .in3, .medio, .d1 a, .d4 select{
    border: rgb(0, 47, 255) 1px solid;
}
.in1, .in2 {
    width: 45%;
    padding: 0.5em;
    font-size: 1.1em;
    border-radius: 50px;
}
.in3{
    padding: 0.5em;
    border-radius: 50px;
    margin-top: 0.5em;
}
.noveno button{
    padding: 0.5em;
    border-radius: 50px;
}
.noveno button:hover, .d1 a:hover{
    color: white;
    border: rgb(0, 47, 255) 1px solid;
}
.fa-road{
    font-size: 4em;
    padding: 0.5em 1em;
}
#uno h3{
    font-size: 2.5em;
    font-family: cursive;
}
.medio {
    display: inline-block;
    width: 20%;
}
.arriba{
    margin-top: 2em;
}
.arriba a i, .arriba a p{
    font-size: 1.5em;
}
footer{
    margin-top: 2em;
    padding: 2em;
}
.div1 .fa-solid, .div1 b, .div1 h1, .div1 p {
    color: rgba(0, 0, 0, 0.651);
}
.div1 .uno{
    border-right: 1px rgba(0, 0, 0, 0.651) solid;
    padding-right: 2em;
}
.div1 .i, .div1 .uno, .div1 p{
    display: inline-block;
}
.div1 p{
    padding-left: 1em;
    margin-top: 0.4em;
}
.d1{    
    margin-top: 4em;
}
.d1 a{
    font-size: 1.5em;
    padding: 1em 1.5em;
    margin: 0 3em;
    border-radius:5px ;
}
#d1{
    background-image: url(../img/cpanigale.jpg);
}
#sectionone{
    background-image: url(../img/bstret.jpg);
}
#sectiontwo{
    background-image: url(../img/cmultiestrada.jpg);
}
#sectionthre{
    background-image: url(../img/chypermotard.jpg);
}
#sectionfour{
    background-image: url(../img/ch2.jpg);
}
#sectionfive{
    background-image: url(../img/czh2.jpg);
}
#sectionsix{
    background-image: url(../img/cversys.jpg);
}
#sectionseven{
    background-image: url(../img/cklk.jpg);
}
#sectioneight{
    background-image: url(../img/cbmw.jpg);
}
#sectionnine{
    background-image: url(../img/cs1000r.jpg);
}
#sectionten{
    background-image: url(../img/c1300.jpg);
}
#sectioneleven{
    background-image: url(../img/cendurobm.jpg);
}
#sectionone1{
    background-image: url(../img/c1290.jpg);
} 
#sectiontwo1{
    background-image: url(../img/cgtduke.jpg);
} 
#sectionthre1{
    background-image: url(../img/crc.jpg);
} 
#sectionfour1{
    background-image: url(../img/cenduroktm.jpg);
}
#sectionone2{
    background-image: url(../img/cmt09.jpg) ;
}
#sectiontwo2{
    background-image: url(../img/ctracer.jpg);
}
#sectionthre2{
    background-image: url(../img/cr1.jpg);
}
#sectionfour2{
    background-image: url(../img/cyz.jpg);
}
#d1, #sectionone, #sectiontwo, #sectionthre, #sectionfour, #sectionfive, #sectionsix, #sectionseven, #sectioneight, #sectionnine, #sectionten, #sectioneleven, #sectionone1, #sectiontwo1, #sectionthre1, #sectionfour1, #sectionone2, #sectiontwo2, #sectionthre2, #sectionfour2  {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10em;
    width: 90%;
    margin-left: 4.5em;
}

.d2{
   width: 60%;
   margin: auto;
   background-color: rgba(0, 0, 0, 0.541);
}
.d2 img{
    width: 100%;
}
.d2 img:hover{
    transform: scaleX(-1);
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-right: 1em;
}
.d3{
    width: 48%;
    padding: 1em ;
}
.d3 h3{
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: rgb(0, 47, 255) 5px solid ;
}
.d3 ol, p{
    padding: 1em;
}
.d3 ol{
    font-size: 2em;
}
.d3 p{
    font-size: 1.5em;
}
.d3 span{
    padding: 0.5em;
}
.dd4{
    text-align: right;
}
.d4{
    width: 60%;
    margin-left: 6em;
}
.d44{
    text-align: right;
}
.d4 h3{
    font-size: 2em;
    margin: 1em 0;
}
.d4 select{
    border-radius: 50px;
    padding: 1em;
}
.formulario{
    margin-top: 1em;
}
h4, form input{
    display: inline-block;
}
form input{
    font-size: 1.5em;
    width: 40%;
}
.r1{
    color: black;
    width: 40%;
    padding: 0.2em;
    margin: 1em 0 0 32em;
}
.r2, .r3{
    display: inline-block;
}
.r2{
    margin-top: 1em;
    width: 50%;
}
.r2 label{
    font-size: 0.6em;   
}
.r3{
    width: 40%;
}
.r3 img{
    width: 40%;
}
.r3 p{
    font-size: 0.5em;
}
.d4 button{
    margin: 2em 0;
    width: 40%;
    padding: 0.5em;
    border: 3px solid rgb(0, 47, 255);
}
.d4 button:hover{
    color: white;
    border: 3px solid rgb(0, 47, 255);
    background-color: transparent;
}

@media ( max-width:400px){
    .moto{
        margin-left: 0;
        left: 100%;
    }
    .dos h2{
        margin-left: 1em;
        font-size: 1em;
        padding-top: 0;
    }
    nav li{
        font-size: 0.6em;
        padding-top: 1em ;
        text-align: left;
        width: 100%;
    }
    #principal h2{
        display: none;
    }
    .segundo button{
        margin-left: 1em;
        padding: 0.2em;
        height: 30%;
        width: 40%;
    }
    .segundo button a{
        font-size: 0.5em;
        color: white;
    } 
    .segundo button a:hover{
        font-size: 0.5em;
    }
    .tercero{
        margin-left: -1.5em;
        width: 130%;
    }
    .quinto{
        width: 100%;
    }
    #principal{
        height: 450px;
    }
    #uno h3{
        font-size: 1.5em;
    }
    .decimo{
        margin-left: 0%;
        width: 100%;
    }
    #decimoo{
        margin-left: 0%;
    }
    .octavo{
        width: 100%;
        margin-left: 1.5em;
    }
    .octavo h3{
        font-size: 1.5em;
    }
    .octavo p{
        font-size: 0.7em;
        padding: 0%;
    }
    .noveno{
        width: 100%;
    }
    .noveno input{
        width: 60%;
        margin: 0.5em;
    }
    footer .div1{
        width: 100%;
        text-align: left
    }
    footer .fa-solid{
        font-size: 2em ;
    }
    footer .uno h1{
        font-size: 1.3em;   
    }
    footer .uno b, p{
        font-size: 0.5em;
    }
    .d1 a{
        font-size: 0.8em;
        margin: 1em;
        padding: 0.4em;
    }
    .d4{
        width: 100%;
        margin-left: 0%;
    }
    .d4 h4{
        font-size: 1em;
    }
    .d4 select{
        font-size: 0.5em;
    }
    .r1{
        margin-left: 13.8em;
    }
    #sectionthre1, #sectionone1, #sectiontwo1, #sectionfour1, #sectionfour, #sectionfive, #sectionsix, #sectionseven, #d1, #sectionone, #sectiontwo, #sectionthre, #sectioneight, #sectionnine, #sectionten, #sectioneleven, #sectionone2, #sectiontwo2, #sectionthre2, #sectionfour2 {
        background: none;
    }
    #sectionthre1 img, #sectionone1 img, #sectionfive img, #sectionsix img, #sectionseven img, #sectionfour, #sectionnine, #sectionten, #sectioneleven, #sectiontwo {
        margin-left: -10em;
        width: 200%;
    }
    .d3{
        width: 100%;
        margin-left: -4.5em;
    }
    .d3 h3{
        font-size: 3em;
    }
    .d3 ol{
        font-size: 2em;
    }
    .d3 p{
        font-size: 1em;
    }
    #sectiontwo1 img, #sectionfour1 img, #d1, #sectionone2{
        width: 190%;
        margin-left: -9em;
    }
    #sectioneight{
        width: 180%;
        margin-left: -7em;
    }
    #sectionone, #sectionthre, #sectionthre2, #sectiontwo2, #sectionfour2{
        width: 150%;
        margin-left: -3em;
    }
}
@media ( min-width:402px) and (max-width: 530px){
    .moto{
        margin-left: 0;
        left: 100%;
    }
    .dos h2{
        margin-left: 1em;
        font-size: 1em;
        padding-top: 0;
    }
    nav li{
        font-size: 0.6em;
        padding-top: 1em ;
        text-align: left;
        width: 100%;
    }
    #principal h2{
        display: none;
    }
    .segundo button{
        margin-left: 1em;
        padding: 0.2em;
        height: 30%;
        width: 40%;
    }
    .segundo button a{
        font-size: 0.5em;
        color: white;
    } 
    .segundo button a:hover{
        font-size: 0.5em;
    }
    .tercero{
        margin-left: -1.5em;
        width: 130%;
    }
    .quinto{
        width: 100%;
    }
    #principal{
        height: 450px;
    }
    #uno h3{
        font-size: 1.5em;
    }
    .decimo{
        margin-left: 0%;
        width: 100%;
    }
    #decimoo{
        margin-left: 0%;
    }
    .octavo{
        width: 100%;
        margin-left: 1.5em;
    }
    .octavo h3{
        font-size: 1.5em;
    }
    .octavo p{
        font-size: 0.7em;
        padding: 0%;
    }
    .noveno{
        width: 100%;
    }
    .noveno input{
        width: 60%;
        margin: 0.5em;
    }
    footer .div1{
        width: 100%;
        text-align: left
    }
    footer .fa-solid{
        font-size: 2em ;
    }
    footer .uno h1{
        font-size: 1.3em;   
    }
    footer .uno b, p{
        font-size: 0.5em;
    }
    .d1 a{
        font-size: 0.8em;
        margin: 1em;
        padding: 0.4em;
    }
    .d4{
        width: 100%;
        margin-left: 0%;
    }
    .d4 h4{
        font-size: 1em;
    }
    .d4 select{
        font-size: 0.5em;
    }
    .r1{
        margin-left: 13.8em;
    }
    #sectionthre1, #sectionone1, #sectiontwo1, #sectionfour1, #sectionfour, #sectionfive, #sectionsix, #sectionseven, #d1, #sectionone, #sectiontwo, #sectionthre, #sectioneight, #sectionnine, #sectionten, #sectioneleven, #sectionone2, #sectiontwo2, #sectionthre2, #sectionfour2 {
        background: none;
    }
    #sectionthre1 img, #sectionone1 img, #sectionfive img, #sectionsix img, #sectionseven img, #sectionfour, #sectionnine, #sectionten, #sectioneleven, #sectiontwo {
        margin-left: -10em;
        width: 200%;
    }
    .d3{
        width: 100%;
        margin-left: -4.5em;
    }
    .d3 h3{
        font-size: 3em;
    }
    .d3 ol{
        font-size: 2em;
    }
    .d3 p{
        font-size: 1em;
    }
    #sectiontwo1 img, #sectionfour1 img, #d1, #sectionone2{
        width: 190%;
        margin-left: -9em;
    }
    #sectioneight{
        width: 180%;
        margin-left: -7em;
    }
    #sectionone, #sectionthre, #sectionthre2, #sectiontwo2, #sectionfour2{
        width: 150%;
        margin-left: -3em;
    }
}
@media ( min-width:531px) and (max-width: 700px){
    .moto{
        margin-left: 0;
        left: 100%;
    }
    .dos h2{
        margin-left: 1em;
        font-size: 1.3em;
        padding-top: 0;
    }
    nav li{
        font-size: 0.7em;
        padding-top: 1em ;
        text-align: left;
        width: 17%;
    }
    #principal h2{
        display: none;
    }
    .segundo button{
        margin-left: 2em;
        padding: 0.3em;
        height: 40%;
        width: 50%;
    }
    .segundo button a{
        font-size: 0.6em;
        color: white;
    } 
    .segundo button a:hover{
        font-size: 0.6em;
    }
    .tercero{
        margin-left: -1.5em;
        width: 130%;
    }
    .quinto{
        width: 100%;
    }
    #principal{
        height: 510px;
    }
    #uno h3{
        font-size: 1.7em;
    }
    .decimo{
        margin-left: 0%;
        width: 100%;
    }
    #decimoo{
        margin-left: 0%;
    }
    .octavo{
        width: 100%;
        margin-left: 1.5em;
    }
    .octavo h3{
        font-size: 1.5em;
    }
    .octavo p{
        font-size: 0.7em;
        padding: 0%;
    }
    .noveno{
        width: 100%;
    }
    .noveno input{
        width: 60%;
        margin: 0.5em;
    }
    footer .div1{
        width: 100%;
        
    }
    footer .fa-solid{
        font-size: 2em ;
    }
    footer .uno h1{
        font-size: 1.5em;   
    }
    footer .uno b, p{
        font-size: 0.8em;
    }
    .d1 a{
        font-size: 0.8em;
        margin: 1em;
        padding: 0.4em;
    }
    .d4{
        width: 100%;
        margin-left: 0%;
    }
    .d4 h4{
        font-size: 1em;
    }
    .d4 select{
        font-size: 0.5em;
    }
    .r1{
        margin-left: 18.8em;
    }
    #sectionthre1, #sectionone1, #sectiontwo1, #sectionfour1, #sectionfour, #sectionfive, #sectionsix, #sectionseven, #d1, #sectionone, #sectiontwo, #sectionthre, #sectioneight, #sectionnine, #sectionten, #sectioneleven, #sectionone2, #sectiontwo2, #sectionthre2, #sectionfour2 {
        background: none;
    }
    #sectionthre1 img, #sectionone1 img, #sectionfive img, #sectionsix img, #sectionseven img, #sectionfour, #sectionnine, #sectionten, #sectioneleven, #sectiontwo {
        margin-left: -14em;
        width: 200%;
    }
    .d3{
        width: 100%;
        margin-left: -4.5em;
    }
    .d3 h3{
        font-size: 3em;
    }
    .d3 ol{
        font-size: 2em;
    }
    .d3 p{
        font-size: 1em;
    }
    #sectiontwo1 img, #sectionfour1 img, #d1, #sectionone2{
        width: 190%;
        margin-left: -13em;
    }
    #sectioneight{
        width: 170%;
        margin-left: -9em;
    }
    #sectionone, #sectionthre, #sectionthre2, #sectiontwo2, #sectionfour2{
        width: 150%;
        margin-left: -5em;
    }
}
@media ( min-width:701px) and (max-width: 1000px){
    .moto{
        margin-left: 0;
        left: 100%;
    }
    .dos h2{
        margin-left: 2em;
        font-size: 1.5em;
        padding-top: 0;
    }
    nav li{
        font-size: 0.8em;
        padding-top: 1em 
    }
    nav li:hover{
        font-size: 0.5em;
    }
    #principal h2{
        display: none;
    }
    .segundo button{
        margin-left: 2em;
        padding: 0.3em;
        height: 50%;
        width: 60%;
    }
    .segundo button a{
        font-size: 0.7em;
        color: white;
    } 
    .segundo button a:hover{
        font-size: 0.6em;
    }
    .tercero{
        margin-left: -1.5em;
        width: 130%;
    }
    .quinto{
        width: 100%;
    }
    #principal{
        height: 600px;
    }
    #uno h3{
        font-size: 2em;
    }
    .decimo{
        margin-left: 0%;
        width: 46%;
    }
    #decimoo{
        margin-left: 0%;
    }
    .octavo{
        width: 100%;
        margin-left: 1.5em;
    }
    .octavo h3{
        font-size: 2em;
    }
    .octavo p{
        font-size: 1em;
        padding: 0%;
    }
    .noveno{
        width: 100%;
    }
    .noveno input{
        width: 60%;
        margin: 0.5em;
    }
    footer .div1{
        width: 100%;
        
    }
    footer .fa-solid{
        font-size: 3em ;
    }
    .d1 a{
        font-size: 1em;
        margin: 1em;
        padding: 0.8em;
    }
    .d4{
        width: 100%;
        margin-left: 0%;
    }
    .d4 h4{
        font-size: 1.3em;
    }
    .d4 select{
        font-size: 0.7em;
    }
    .r1{
        margin-left: 25em;
    }

    .d3{
        width: 100%;
        
    }
    .d3 h3{
        font-size: 3em;
    }
    .d3 ol{
        font-size: 2.5em;
    }
    .d3 p{
        font-size: 1.5em;
    }

}
@media ( min-width:1001px) and (max-width: 1270px){
    .d1 a{
        font-size: 1em;
        margin: 1em;
        padding: 0.8em;
    }
}
